extends layout

block title
  title API Explorer

block js
  script(src='js/dist/api.js')

block css
  link(href='css/api.css', rel='stylesheet')

block content
  .page-header
    h1 Michigan API Explorer

  h2#v1 Version 1
  hr

  article#v1_news.api-endpoint
    div.api-request
      h3 GET /v1/news/
    div.api-body
      p.api-info.
        Grabs the latest news articles from all news sources

      div
        button(data-url='/v1/news/', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1_news_site.api-endpoint
    div.api-request
      h3 GET /v1/news/:site/
    div.api-body
      p.api-info.
        Grabs the latest news articles from a list of news sites

      .row.api-options
        .col-left
          h4 Options
          label Site
          input(type='text', name='site', class='api-input', value='freep,detroitnews')
        .col-right
          p Site option, choose from one or many news sites

      div
        button(data-url='/v1/news/', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

