extends layout

block title
  title API Explorer

block js
  script(src='js/api.js')

block css
  link(href='css/api.css', rel='stylesheet')

block content
  .page-header
    h1 API Explorer

  h2#v1 Version 1
  hr

  article#v1_news.api-endpoint
    div.api-request
      h3 GET /v1/article/:id/
    div.api-body
      p.api-info.
        Grabs data for a single article

      .api-options
        h4 Required
        .row.api-input-container
          .col-left
            label Id
            input(type='text', name='id', class='api-input', value='0')
          .col-right
            p Unique article id

      div
        hr
        button(data-url='/v1/article/', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1_news.api-endpoint
    div.api-request
      h3 GET /v1/news/
    div.api-body
      p.api-info.
        Grabs the latest news articles from all news sources

      .api-options
        h4 Options
        .row.api-input-container
          include ./limit.jade

      div
        hr
        button(data-url='/v1/news/', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1_news_site.api-endpoint
    div.api-request
      h3 GET /v1/news/:site/
    div.api-body
      p.api-info.
        Grabs the latest news articles from a list of news sites

      .api-options
        h4 Options
        .row.api-input-container
          include ./site.jade

        .row.api-input-container
          include ./limit.jade

      div
        hr
        button(data-url='/v1/news/', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1_news_site_section.api-endpoint
    div.api-request
      h3 GET /v1/news/:site/:section/
    div.api-body
      p.api-info.
        Grabs the latest news articles from a list of news sites by section

      .api-options
        h4 Options
        .row.api-input-container
          include ./site.jade

        hr

        .row.api-input-container
          .col-left
            label Section
            input(type='text', name='section', class='api-input', value='sports')
          .col-right
            p Comma separated list of sections to grab news articles from.
            p Here is a list of acceptable sections:
            ul
              li home
              li news
              li sports
              li life

        .row.api-input-container
          include ./limit.jade

      div
        hr
        button(data-url='/v1/news/', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1_news.api-endpoint
    div.api-request
      h3 GET /v1/recipes/
    div.api-body
      p.api-info.
        Grabs the latest recipes from all news sources

      .api-options
        h4 Options
        .row.api-input-container
          include ./limit.jade

      div
        hr
        button(data-url='/v1/recipes/', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1-snapshot-toppages.api-endpoint
    div.api-request
      h3 GET /v1/snapshot/toppages/
    div.api-body
      p.api-info.
        Grabs the latest toppages snapshot

      div
        hr
        button(data-url='/v1/snapshot/toppages/', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1-snapshot-quickstats.api-endpoint
    div.api-request
      h3 GET /v1/snapshot/quickstats/
    div.api-body
      p.api-info.
        Grabs the latest quickstats snapshot

      div
        hr
        button(data-url='/v1/snapshot/quickstats/', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1-snapshot-topgeo.api-endpoint
    div.api-request
      h3 GET /v1/snapshot/topgeo/
    div.api-body
      p.api-info.
        Grabs the latest topgeo snapshot

      div
        hr
        button(data-url='/v1/snapshot/topgeo/', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1-snapshot-referrals.api-endpoint
    div.api-request
      h3 GET /v1/snapshot/referrals/
    div.api-body
      p.api-info.
        Grabs the latest referrals snapshot

      div
        hr
        button(data-url='/v1/snapshot/referrals/', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1-snapshot-recent.api-endpoint
    div.api-request
      h3 GET /v1/snapshot/recent/
    div.api-body
      p.api-info.
        Grabs the latest recent snapshot

      div
        hr
        button(data-url='/v1/snapshot/recent/', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1-snapshot-traffic-series.api-endpoint
    div.api-request
      h3 GET /v1/snapshot/traffic-series/
    div.api-body
      p.api-info.
        Grabs the latest traffic series snapshot

      div
        hr
        button(data-url='/v1/snapshot/traffic-series/', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

