extends layout

block title
  title API Explorer

block js
  script(src='js/api.js')

block css
  link(href='css/api.css', rel='stylesheet')

block content
  .page-header
    h1 API Explorer

  h2#v1 Version 1
  hr

  article#v1_news.api-endpoint
    div.api-request
      h3 GET /v1/article/:id/
    div.api-body
      p.api-info.
        Grabs data for a single article

      .api-options
        h4 Required
        .row.api-input-container
          .col-left
            label Id
            input(type='text', name='id', class='api-input', value='0')
          .col-right
            p Unique article id

      div
        hr
        button(data-url='/v1/article/', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1_news.api-endpoint
    div.api-request
      h3 GET /v1/news/
    div.api-body
      p.api-info.
        Grabs the latest news articles from all news sources

      .api-options
        h4 Options
        .row.api-input-container
          include ./limit.jade

      div
        hr
        button(data-url='/v1/news/', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1_news_site.api-endpoint
    div.api-request
      h3 GET /v1/news/:site/
    div.api-body
      p.api-info.
        Grabs the latest news articles from a list of news sites

      .api-options
        h4 Options
        .row.api-input-container
          include ./site.jade

        .row.api-input-container
          include ./limit.jade

      div
        hr
        button(data-url='/v1/news/', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1_news_site_section.api-endpoint
    div.api-request
      h3 GET /v1/news/:site/:section/
    div.api-body
      p.api-info.
        Grabs the latest news articles from a list of news sites by section

      .api-options
        h4 Options
        .row.api-input-container
          include ./site.jade

        hr

        .row.api-input-container
          .col-left
            label Section
            input(type='text', name='section', class='api-input', value='sports')
          .col-right
            p Comma separated list of sections to grab news articles from.
            p Here is a list of acceptable sections:
            ul
              li home
              li news
              li sports
              li life

        .row.api-input-container
          include ./limit.jade

      div
        hr
        button(data-url='/v1/news/', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1_news.api-endpoint
    div.api-request
      h3 GET /v1/recipes/
    div.api-body
      p.api-info.
        Grabs the latest recipes from all news sources

      .api-options
        h4 Options
        .row.api-input-container
          include ./limit.jade

      div
        hr
        button(data-url='/v1/recipes/', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1-history.api-endpoint
    div.api-request
      h3 GET /v1/history/
    div.api-body
      p.api-info.
        Grabs historical data

      .query-params
        h4 Optional
        .row.api-input-container
          .col-left
            label Starting Days Ago
            input(type='text', id='startingDaysAgo', name='startingDaysAgo', class='api-input-query-param', value='7')
          .col-right
            p How many days in the past to query for data (default=7)

      div
        hr
        button(data-url='/v1/history/', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1-snapshot-toppages.api-endpoint
    div.api-request
      h3 GET /v1/snapshot/toppages/
    div.api-body
      p.api-info.
        Grabs the latest toppages snapshot

      div
        hr
        button(data-url='/v1/snapshot/toppages/', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1-snapshot-toppages-history.api-endpoint
    div.api-request
      h3 GET /v1/snapshot/toppages/history
    div.api-body
      p.api-info.
        Grabs the history of toppages snapshots

      div
        hr
        button(data-url='/v1/snapshot/toppages/history', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1-snapshot-quickstats.api-endpoint
    div.api-request
      h3 GET /v1/snapshot/quickstats/
    div.api-body
      p.api-info.
        Grabs the latest quickstats snapshot

      div
        hr
        button(data-url='/v1/snapshot/quickstats/', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1-snapshot-topgeo.api-endpoint
    div.api-request
      h3 GET /v1/snapshot/topgeo/
    div.api-body
      p.api-info.
        Grabs the latest topgeo snapshot

      div
        hr
        button(data-url='/v1/snapshot/topgeo/', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1-snapshot-referrals.api-endpoint
    div.api-request
      h3 GET /v1/snapshot/referrals/
    div.api-body
      p.api-info.
        Grabs the latest referrals snapshot

      div
        hr
        button(data-url='/v1/snapshot/referrals/', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1-snapshot-recent.api-endpoint
    div.api-request
      h3 GET /v1/snapshot/recent/
    div.api-body
      p.api-info.
        Grabs the latest recent snapshot

      div
        hr
        button(data-url='/v1/snapshot/recent/', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1-snapshot-traffic-series.api-endpoint
    div.api-request
      h3 GET /v1/snapshot/traffic-series/
    div.api-body
      p.api-info.
        Grabs the latest traffic series snapshot

      div
        hr
        button(data-url='/v1/snapshot/traffic-series/', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1-snapshot-breaking-news.api-endpoint
    div.api-request
      h3 GET /v1/breaking-news/
    div.api-body
      p.api-info.
        Grabs the latest traffic series snapshot

      div
        hr
        button(data-url='/v1/breaking-news/', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1-stats-referrers.api-endpoint
    div.api-request
      h3 GET /v1/stats/referrers
    div.api-body
      p.api-info.
        Grabs historical referral data

      .query-params
        h4 Required
        .row.api-input-container
          .col-left
            label Number of days
            input(type='text', id='days', name='days', class='api-input-query-param', value='1')
          .col-right
            p How many days in the past to query for data

      .query-params
        h4 Optional

        .row.api-input-container
          .col-left
            label domains
            input(type='text', id='domains', name='domains', class='api-input-query-param', value='freep.com')
          .col-right
            p List of domains to search for (e.g. freep.com, detroitnews.com)

        .row.api-input-container
          .col-left
            label Sort
            input(type='text', id='sort', name='sort', class='api-input-query-param', value='')
          .col-right
            p Sort data DESC with + or ASC with - by key

        .row.api-input-container
          .col-left
            label Limit
            input(type='text', id='limit', name='limit', class='api-input-query-param', value='')
          .col-right
            p Limit the number of domains

      div
        hr
        button(data-url='/v1/stats/referrers', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1-stats-domains.api-endpoint
    div.api-request
      h3 GET /v1/stats/domains
    div.api-body
      p.api-info.
        Grabs historical domain data

      .query-params
        h4 Required
        .row.api-input-container
          .col-left
            label Number of days
            input(type='text', id='days', name='days', class='api-input-query-param', value='1')
          .col-right
            p How many days in the past to query for data

        .row.api-input-container
          .col-left
            label Keys
            input(type='text', id='keys', name='keys', class='api-input-query-param', value='raw')
          .col-right
            p Which keys to grab from data (e.g. raw (to see all keys), domloadtime, engtm, pfeng, pf, returning, loyal, new, recirc, social, search, direct, links, v, tm)

      .query-params
        h4 Optional

        .row.api-input-container
          .col-left
            label domains
            input(type='text', id='domains', name='domains', class='api-input-query-param', value='freep.com')
          .col-right
            p List of domains to search for (e.g. freep.com, detroitnews.com)

        .row.api-input-container
          .col-left
            label Sort
            input(type='text', id='sort', name='sort', class='api-input-query-param', value='')
          .col-right
            p Sort data DESC with + or ASC with - by key

        .row.api-input-container
          .col-left
            label Limit
            input(type='text', id='limit', name='limit', class='api-input-query-param', value='')
          .col-right
            p Limit the number of domains

      div
        hr
        button(data-url='/v1/stats/domains', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1-stats-articles.api-endpoint
    div.api-request
      h3 GET /v1/stats/articles
    div.api-body
      p.api-info.
        Grabs historical article data

      .query-params
        h4 Required
        .row.api-input-container
          .col-left
            label Number of days
            input(type='text', id='days', name='days', class='api-input-query-param', value='1')
          .col-right
            p How many days in the past to query for data

        .row.api-input-container
          .col-left
            label Keys
            input(type='text', id='keys', name='keys', class='api-input-query-param', value='raw')
          .col-right
            p Which keys to grab from data (e.g. raw, domain, period, tmstart, tmend, count, maxv, maxm, maxd, summ, sumd, maxrecirc, maxavgengtm, sumengtm)

      .query-params
        h4 Optional

        .row.api-input-container
          .col-left
            label domains
            input(type='text', id='domains', name='domains', class='api-input-query-param', value='')
          .col-right
            p List of domains to search for (e.g. freep.com, detroitnews.com)

        .row.api-input-container
          .col-left
            label Sort
            input(type='text', id='sort', name='sort', class='api-input-query-param', value='')
          .col-right
            p Sort data DESC with + or ASC with - by key

        .row.api-input-container
          .col-left
            label Limit
            input(type='text', id='limit', name='limit', class='api-input-query-param', value='')
          .col-right
            p Limit the number of domains

      div
        hr
        button(data-url='/v1/stats/articles', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1-totals-articles.api-endpoint
    div.api-request
      h3 GET /v1/totals/articles
    div.api-body
      p.api-info.
        Grabs computed historial data about articles

      .query-params
        h4 Required

        .row.api-input-container
          .col-left
            label Number of days
            input(type='text', id='days', name='days', class='api-input-query-param', value='1')
          .col-right
            p How many days in the past to query for data

        .row.api-input-container
          .col-left
            label Keys
            input(type='text', id='keys', name='keys', class='api-input-query-param', value='raw')
          .col-right
            p Which keys to grab from data (e.g. raw, domain, period, tmstart, tmend, count, maxv, maxm, maxd, summ, sumd, maxrecirc, maxavgengtm, sumengtm)

      .query-params
        h4 Optional

        .row.api-input-container
          .col-left
            label domains
            input(type='text', id='domains', name='domains', class='api-input-query-param', value='freep.com')
          .col-right
            p List of domains to search for (e.g. freep.com, detroitnews.com)

        .row.api-input-container
          .col-left
            label Sort
            input(type='text', id='sort', name='sort', class='api-input-query-param', value='+sumengtm')
          .col-right
            p Sort data DESC with + or ASC with - by key

        .row.api-input-container
          .col-left
            label Limit
            input(type='text', id='limit', name='limit', class='api-input-query-param', value='')
          .col-right
            p Limit the number of snapshots to grab per domain

      div
        hr
        button(data-url='/v1/totals/articles', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1-totals-domains.api-endpoint
    div.api-request
      h3 GET /v1/totals/domains
    div.api-body
      p.api-info.
        Grabs computed historial data about domains

      .query-params
        h4 Required

        .row.api-input-container
          .col-left
            label Number of days
            input(type='text', id='days', name='days', class='api-input-query-param', value='1')
          .col-right
            p How many days in the past to query for data

        .row.api-input-container
          .col-left
            label Keys
            input(type='text', id='keys', name='keys', class='api-input-query-param', value='raw')
          .col-right
            p Which keys to grab from data (e.g. raw, domain, period, tmstart, tmend, count, maxv, maxm, maxd, summ, sumd, maxrecirc, maxavgengtm, sumengtm)

      .query-params
        h4 Optional

        .row.api-input-container
          .col-left
            label domains
            input(type='text', id='domains', name='domains', class='api-input-query-param', value='freep.com')
          .col-right
            p List of domains to search for (e.g. freep.com, detroitnews.com)

        .row.api-input-container
          .col-left
            label Sort
            input(type='text', id='sort', name='sort', class='api-input-query-param', value='+sumengtm')
          .col-right
            p Sort data DESC with + or ASC with - by key

        .row.api-input-container
          .col-left
            label Limit
            input(type='text', id='limit', name='limit', class='api-input-query-param', value='')
          .col-right
            p Limit the number of snapshots to grab per domain

      div
        hr
        button(data-url='/v1/totals/domains', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response

  article#v1-totals-authors.api-endpoint
    div.api-request
      h3 GET /v1/totals/authors
    div.api-body
      p.api-info.
        Grabs computed historial data about authors

      .query-params
        h4 Required

        .row.api-input-container
          .col-left
            label Number of days
            input(type='text', id='days', name='days', class='api-input-query-param', value='1')
          .col-right
            p How many days in the past to query for data

        .row.api-input-container
          .col-left
            label Keys
            input(type='text', id='keys', name='keys', class='api-input-query-param', value='raw')
          .col-right
            p Which keys to grab from data (e.g. raw, domain, period, tmstart, tmend, count, maxv, maxm, maxd, summ, sumd, maxrecirc, maxavgengtm, sumengtm)

      .query-params
        h4 Optional

        .row.api-input-container
          .col-left
            label domains
            input(type='text', id='domains', name='domains', class='api-input-query-param', value='freep.com')
          .col-right
            p List of domains to search for (e.g. freep.com, detroitnews.com)

        .row.api-input-container
          .col-left
            label Sort
            input(type='text', id='sort', name='sort', class='api-input-query-param', value='')
          .col-right
            p Sort data DESC with + or ASC with - by key

        .row.api-input-container
          .col-left
            label Limit
            input(type='text', id='limit', name='limit', class='api-input-query-param', value='')
          .col-right
            p Limit the number of snapshots to grab per domain

      div
        hr
        button(data-url='/v1/totals/authors', class='btn animate green') Execute

      .row
        h4 Response
        pre.api-response
