.col-left
  label Limit
  input(type='text', name='limit', class='api-input', value='20')
.col-right
  p Number of articles to return from endpoint
  p Default is 100 articles, to get all the articles set limit to 0

