.col-left
  label Site
  input(type='text', name='site', class='api-input', value='freep,detroitnews')
.col-right
  p Comma separated list of sites you want to get news articles from.
  p Here is a list of acceptable sites:
  ul
    li all (pulls from all sites)
    li freep
    li detroitnews
    li lansingstatejournal
    li battlecreekenquirer
    li hometownlife
    li livingstondaily
    li thetimesherald

