extends layout

block js
  script(src='/js/testSocket.js')

block css
  link(href='/css/testSocket.css', rel='stylesheet')

block content
  .snapshot-container#toppages
  .snapshot-container#quickstats
  .snapshot-container#topgeo
  .snapshot-container#referrers
  .snapshot-container#articles

